html {
  overflow-x: hidden;
  overflow-x: -moz-hidden-unscrollable;
  scroll-behavior: smooth;
  /* Firefox */
  border: 0;
  /* remove the border */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

body {
  background-color: #000000;
  margin: 0;
  /* height: 830vh; */
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* LAPTOP/PC STYLE BEGINS HERE  */


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (min-width: 700px) {



  #root {
    width: 100vw;
    height: 100vh;
  }

  .hamburger {
    display: none;
  }


  #HomePage {
    background-image: url(../src/image/Web\ capture_30-11-2022_123021_approach0\ 2bg-vitlaa.svg);
    /* Path: icnda\src\image\Web capture_30-11-2022_123021_approach0 2bg-vitlaa.svg */
    background-position: fixed;
    /* Center the image */
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position-y: center;
    background-size: 120%;
    background-attachment: fixed;
    /* Fixed position */
    background-position-x: center;
    height: 100vh;
    width: 100vw;
  }

  /*navbar*/
  nav {
    display: flex;
    margin: 0;
    border: 0;
    font-family: "inter", sans-serif;
    /* background-color: #282828;  for debugging*/
  }

  nav>ul {
    width: 100%;
    display: flex;
  }

  .navButton {
    background-color: Transparent;
    border: none;
    color: #FFFFFF;
    border-radius: 0px;

    font-family: "inter", sans-serif;
    
    
  } 



  }

  nav>ul>li {
    list-style: none;
    top: 40.02px;
    left: 55px;
    color: #FFFFFF;
    font-family: "inter", sans-serif;
    font-size: 0.8rem;
    font-weight: 800;

  }

  nav>ul>li>a {
    font-family: "inter", sans-serif;
  }


  .navText:link,
  .navText:visited {
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;

  }

  .navText::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: .2s all ease-out;
  }

  .navText:hover::after {
    transform: scale(1);
  }



  .navLis {
    padding: 0;
    margin: 0;
  }

  #Home {
    margin-left: 3vw;

  }

  #About {
    margin-left: 3.4vw;
  }

  #Speakers {
    margin-left: 3.8vw;
  }

  #Schedule {
    margin-left: 4.2vw;
  }




  #Download {
    margin-left: 4.6vw;

  }

  #Sponsors {
    margin-left: 27vw;
  }

  #FAQs {
    margin-left: 4vw;
  }

  #Registration {
    margin-left: 4.4vw;
  }


  /*heading*/
  .heading {
    position: absolute;
    margin-top: 50px;
    width: 70%;
    height: 80%;
    align-items: center;

  }

  .first-line {
    margin-top: 100px;
    color: #FFFFFF;
  }

  .second-line {
    color: #FFBA6D;
  }

  .third-line {
    color: #FFFFFF;
  }

  .heading>h1 {

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5vw;
    font-size: 126px;
    font-family: 'Six Caps', sans-serif;
    font-weight: 100;
    letter-spacing: 0.38rem;
  }

  /* subhead */
  .sub-head {
    margin-top: 40px;
    margin-left: 70vw;
    font-family: "inter", sans-serif;
    color: #FFFFFFB2;
  }

  .sub-l1 {
    font-size: 0.7rem;
    font-weight: 300;
  }

  .sub-l2 {
    font-size: 1.1rem;
    font-weight: 800;
  }

  .sub-l3 {
    font-size: 1.1rem;
    font-weight: 800;
  }

  .sub-l4 {
    font-size: 0.8rem;
    font-weight: 300;
  }

  /* footerHome */
  .footerHome {
    position: absolute;
    margin-top: 3vh;
    margin-left: 58vw;
    width: 50%;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #FFFFFF;
  }

  /* About */

  #AboutPage {
    height: 100vh;
    width: 100vw;
    background: #000000;
  }

  #color {
    color: #FFBA6D;
  }

  .header-about {
    margin-left: 4vw;
    margin-top: 0;
    font-family: Six Caps;
    font-size: 51px;
    font-weight: 400;
    line-height: 136px;
    letter-spacing: 0.3rem;
    text-align: left;
    color: #FFFFFF;
  }

  /* headingAbout */
  .headingAbout {
    width: 50%;
    margin-top: -10vh;
    margin-left: 4vw;
    font-family: Six Caps;
    font-size: 100px;
    line-height: 10vh;
    letter-spacing: 0em;
    text-align: left;
  }

  .line1-about {
    color: #FFFFFF;
    font-weight: 100;
  }

  .line2-about {
    color: #DA453B;
    font-weight: 100;
  }

  .line3-about {
    color: #FFFFFF;
    font-weight: 100;
  }

  /* contentAbout */

  .contentAbout {
    position: absolute;
    width: 50%;
    height: 80%;
    margin-top: -100vh;
    margin-left: 53vw;
    font-family: 'inter', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .about-para1 {
    color: #FFFFFF;
    margin-top: 100px;
    display: block;
    width: 600px;
    margin-bottom: -100px;
  }

  .about-para2 {
    color: #DA453B;
  }

  /* Speakers */
  #SpeakersPage {
    background-image: url(../src/image/final_63888cedf225560025c4a748_237242\ 1speakers-bg.png);
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
  }

  .speakers-event {
    position: absolute;
    margin: 0;
    border: 0;
    height: 15%;
    width: 100%;
    display: inline-flex;
  }

  .head-speakers {
    margin-top: 1vh;
    margin-left: 4vw;
    font-family: Six Caps;
    font-size: 71px;
    font-weight: 400;
    letter-spacing: 0.3rem;
    color: #FFFFFF;
  }

  /* speakercards */
  .box1,
  .box2 {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;


  }

  .img-speaker {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .box1 {
    margin-left: 50px;
    margin-top: 135px;
    margin-bottom: 50px;
    width: 100%;
  }

  .box2 {
    margin-left: 170px;
  }

  .box>div {
    margin: 20%;
    flex-basis: calc(20% 40px);
  }

  .container {
    position: absolute;
    background-color: #FFFFFF;
    width: 15%;
    height: 35%;
    margin: 50vh;
    padding: 30%;
  }


  .cont1,
  .cont2,
  .cont3,
  .cont4 {
    border-radius: 10px;
    height: 250px;
    margin-left: 70px;
    margin-right: 15px;
    padding: 10px;
    padding-right: 75px;
  }

  .cont5,
  .cont6,
  .cont7 {
    border-radius: 10px;
    height: 250px;
    margin-left: 127px;
    margin-right: 18px;
    padding: 10px;
  }

  .content {
    display: none;
    color: #FFFFFF;
    position: relative;
    font-family: "inter", sans-serif;
    font-size: 0.8rem;
    transform: translate(5%, -140%);
  }

  .cont:hover .img-speaker {
    opacity: 0.2;
    transition: 0.2s;
  }

  .cont:hover .content {
    display: block;


  }





  /* schedule */

  #SchedulePage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
  }

  .schedule-cont {
    position: absolute;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;

  }

  .schedule-head {
    margin-top: 4vh;
    margin-left: 3vw;
    font-family: Six Caps;
    font-size: 71px;
    font-weight: 400;
    letter-spacing: 0.3rem;
    color: #FFFFFF;
  }

  .scheduleCont {
    width: 50%;
    margin-left: 10vw;
    font-family: Six Caps;
    font-size: 100px;
    line-height: 10vh;
    letter-spacing: 0em;
    text-align: left;
    display: inline-block;
    margin: 100px;

  }

  .line1-schedule {
    color: #FFFFFF;
    font-weight: 100;
  }

  .line2-schedule {
    color: #DA453B;
    font-weight: 100;
  }

  .line3-schedule {
    color: #FFFFFF;
    font-weight: 100;
  }

  /* download */

  #DownloadPage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;

  }

  .schedule-cont {
    position: absolute;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
  }


  #ScheduleContent {}

  /* downloads */
  #DownloadPage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
  }

  .download-png {
    margin-top: 18vh;
    position: absolute;
    height: 600px;
    width: 350px;
  }

  .download-png>img {
    width: 100%;
    height: 100%;
    margin-left: 100px;
  }

  .download-btn {
    position: absolute;
    margin-top: 92vh;
    margin-left: 57vw;
  }

  .download-content {
    position: absolute;
    width: 50%;
    height: 80%;
    margin-top: 10vh;
    margin-left: 53vw;
    line-height: 2rem;
  }

  .download-content>h1 {
    font-family: 'six caps', sans-serif;
    font-weight: 1000;
    color: #DA453B;
    letter-spacing: 0.3rem;
    font-size: 5rem;
    margin-bottom: 6vh;
  }


  .download-content>p {
    color: #FFFFFF;
    font-family: 'inter', sans-serif;
    line-height: 50px;
  }

  /*Sponsors*/
  /* #SponsorsPage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
  } */

  /* FAQS */
  /* #FAQPage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
  }


  .faq-head {
    width: 100%;
  } */

  /* RegistrationPage */
  #RegistrationPage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
  }

  .registration-btn {
    position: absolute;
    margin-top: 90vh;
    margin-left: 37vw;
  }


  .dtext {
    text-decoration: none;
  }

  #Register {
    margin-top: 2vh;
    margin-left: 60vw;
  }

  .register-deadline {
    position: absolute;
    width: 50%;
    margin-top: 10vh;
    margin-left: 4vw;
    font-family: Six Caps;
    font-size: 100px;
    line-height: 10vh;
    letter-spacing: 0em;
    text-align: left;
  }

  .register-png>img {
    position: absolute;
    margin-left: 5vw;
    margin-top: 20vh;
    height: 500px;
    width: 400px;
  }

  /* footer */
  #Footer {
    display: flex;
    margin: 0;
    border: 0;
    height: 30vh;
    width: 100vw;
    background: #000000b8;
    color: #FFFFFF;
    font-family: 'inter', sans-serif;
  }

  .footer-cont1 {
    position: absolute;
    margin-top: 2vh;
    margin-left: 4vw;
    font-family: 'inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFFB2;
    text-align: justify;
  }

  .footer-cont1>h3 {
    margin-left: 12vh;
    margin-bottom: 0;
    font-size: 2rem;
    font-family: 'six caps', sans-serif;
  }

  .name-footer {
    color: #DA453B;
  }

  .footer-cont2 {
    margin-top: 4.2vh;
    margin-left: 40vw;
    color: #FFFFFFB2;
    text-align: justify;
  }

  .footer-cont2>h3 {
    margin-top: 6.5vh;
    margin-left: 12vh;
    font-size: 2rem;
    font-family: 'six caps', sans-serif;
    margin-bottom: 0;
  }

  .name-footer2 {
    color: #DA453B;
  }

  .footer-cont3 {
    margin-top: 4.2vh;
    margin-left: 70vw;
    color: #FFFFFFB2;
    text-align: justify;
  }

  .footer-cont3>h3 {
    margin-top: -20.2vh;
    margin-left: 12vh;
    font-size: 2rem;
    font-family: 'six caps', sans-serif;
    margin-bottom: 0;
  }

  .name-footer3 {
    color: #DA453B;
  }


  /* countdown timer  */
  .expired-notice>span {
    display: flex;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    margin-left: 120vh;

    align-items: center;
    font-weight: 700;
    font-size: 4vh;
    line-height: 25px;
    padding-left: 20px;

    border-radius: 0.25rem;
    text-decoration: none;
    color: #f10808;
    border: none;
    background-color: #000000;
    font-family: 'inter', sans-serif;
    margin-top: 270px;
    margin-bottom: 0px;
    height: 7rem;
  }

  .show-counter {
    padding: 0.5rem;
  }

  .show-counter .countdown-link {
    display: flex;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    margin-left: 120vh;

    align-items: center;
    font-weight: 700;
    font-size: 4vh;
    line-height: 25px;
    padding-left: 20px;

    border-radius: 0.25rem;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    background-color: #000000;
    font-family: 'inter', sans-serif;
    margin-top: 270px;
    margin-bottom: 0px;
    height: 7rem;
  }

  .show-counter .countdown {
    line-height: 1.25rem;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .show-counter .countdown.danger {
    color: #ff0033;
  }

  .show-counter .countdown>p {
    margin: 0;
  }

  .show-counter .countdown>span {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;

  }

  .early {
    width: 167px;
  }

  .bm-burger-button {
    display: none;

  }


  .bm-burger-bars {
    display: none;
  }





  .bm-cross-button {
    display: none;
  }


  .bm-cross {
    background: #bdc3c7;
  }


  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  .bm-menu {
    background: #24262c;
    opacity: 100%;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    border-radius: 5px;
  }

  .bm-morph-shape {
    fill: #373a47;
  }


  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }


  .bm-item {
    display: none;
  }


  .bm-item {
    display: none;
  }

  .togglenavbar {
    display: none;
  }



}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* PHONE STYLE BEGINS HERE  */


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (min-width: 412px) and (max-width: 768px) {

  body {
    background-color: #000000;
    margin: 0;

  }


  #root {
    width: 100vw;
    height: 100vh;
  }


  #HomePage {
    background-image: url(../src/image/Web\ capture_30-11-2022_123021_approach0\ 3bg-vitlaa.jpg);
    /* Path: icnda\src\image\Web capture_30-11-2022_123021_approach0 2bg-vitlaa.svg */
    background-position: fixed;
    /* Center the image */
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position-y: center;
    background-size: 120%;
    background-attachment: fixed;
    /* Fixed position */
    background-position-x: center;
    height: 914px;
    width: 412px;
    border-color: #000000;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  /*navbar*/
  nav {
    display: none;
  }

  /* background-color: #282828;  for debugging*/


  #Home {
    margin-left: 3vw;

  }

  #About {
    margin-left: 3.4vw;
  }

  #Speakers {
    margin-left: 3.8vw;
  }

  #Schedule {
    margin-left: 4.2vw;
  }




  #Download {
    margin-left: 4.6vw;

  }

  #Sponsors {
    margin-left: 27vw;
  }

  #FAQs {
    margin-left: 4vw;
  }

  #Registration {
    margin-left: 4.4vw;
  }



  /*heading*/
  .heading {
    position: absolute;
    margin-top: 5px;
    margin-left: 20px;
    width: 100%;
    height: 80%;
    align-items: center;
  }

  .first-line {
    margin-top: 20px;
    padding-top: 40px;
    color: #FFFFFF;
    padding-left: 10px;
  }

  .second-line {

    color: #FFBA6D;
    padding-left: 10px;
  }

  .third-line {
    color: #FFFFFF;
    padding-left: 10px;
  }

  .heading>h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.75vw;
    font-size: 60px;
    font-family: 'Six Caps', sans-serif;
    font-weight: 100;
    letter-spacing: 0.38rem;
  }

  /* subhead */
  .sub-head {
    margin-top: 40vh;
    margin-bottom: 10vh;
    margin-left: 7vh;
    font-family: "inter", sans-serif;
    color: #FFFFFFB2;
  }

  .sub-l1 {
    font-size: 0.7rem;
    font-weight: 300;
  }

  .sub-l2 {
    font-size: 1.1rem;
    font-weight: 800;
  }

  .sub-l3 {
    font-size: 1.1rem;
    font-weight: 800;
  }

  .sub-l4 {
    font-size: 0.8rem;
    font-weight: 300;
  }

  /* footerHome */
  .footerHome {
    position: absolute;
    display: inline-flex;
    margin-top: 12vh;
    margin-left: 0.35vw;
    width: 100%;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #FFFFFF;
  }

  /* About */

  #AboutPage {
    height: 100vh;
    width: 100vw;
    background: #000000;
  }

  #color {
    color: #FFBA6D;
  }

  .header-about {
    margin-left: 4vw;
    margin-top: 0px;
    font-family: Six Caps;
    font-size: 51px;
    font-weight: 400;
    line-height: 136px;
    letter-spacing: 0.2rem;
    text-align: left;
    color: #FFFFFF;
  }

  /* headingAbout */
  .headingAbout {
    width: 50%;
    margin-top: -4vh;
    margin-left: 2vw;
    font-family: Six Caps;
    font-size: 100px;
    line-height: 7vh;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0px;
  }

  .line1-about {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 60px;
    position: relative;
    margin-bottom: 1px;
  }

  .line2-about {
    color: #DA453B;
    font-weight: 100;
    font-size: 60px;
    position: relative;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .line3-about {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 60px;
    margin-top: 1px;
    margin-bottom: 1px;


  }

  /* contentAbout */

  .contentAbout {
    position: relative;
    width: 50%;
    height: 80%;
    margin-top: -100vh;
    margin-left: 53.5vw;
    font-family: 'inter', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.35rem;
    width: 188px;
  }

  .about-para1 {
    color: #FFFFFF;
    margin-top: 64vh;


  }

  .about-para1-ext {
    color: #FFFFFF;
    margin-top: 6vh;
    margin-left: -210px;
  }

  .about-para2 {
    color: #DA453B;
    margin-top: 8vh;
    margin-left: -210px;
  }

  /* Speakers */
  #SpeakersPage {
    background-image: url(../src/image/final_63888cedf225560025c4a748_237242\ 1speakers-bg.png);
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
  }

  .speakers-event {
    position: absolute;
    margin: 0;
    border: 0;
    height: 15%;
    width: 100%;
    display: inline-flex;
  }

  .head-speakers {
    margin-top: 1vh;
    margin-left: 4vw;
    font-family: Six Caps;
    font-size: 71px;
    font-weight: 400;
    letter-spacing: 0.3rem;
    color: #FFFFFF;
  }

  /* speakercards */
  .box1,
  .box2 {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;


  }

  .img-speaker {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .box1 {
    margin-left: 10px;
    margin-top: 120px;
    margin-bottom: 50px;
    width: 100%;
  }

  .box2 {
    margin-left: 10px;
  }

  .box>div {
    margin: 20%;
    flex-basis: calc(20% 40px);
  }

  .container {
    position: absolute;
    background-color: #FFFFFF;
    width: 15%;
    height: 35%;
    margin: 50vh;
    padding: 30%;
  }


  .cont1,
  .cont3 {
    border-radius: 10px;
    height: 140px;
    margin-left: 1px;
    margin-right: 15px;
    padding: 0px;
    padding-right: 75px;
    margin-bottom: 20px;
    position: relative;
  }

  .cont1,
  .cont2 {
    margin-bottom: 55px;
  }

  .cont2,
  .cont4 {
    border-radius: 10px;
    height: 140px;
    margin-left: 13px;
    margin-right: 15px;
    padding: 0px;
    padding-right: 75px;
    margin-bottom: 20px;
    position: relative;
  }

  .cont5,
  .cont6 {
    border-radius: 10px;
    height: 140px;
    margin-left: 1px;
    margin-right: 15px;
    padding: 0px;
    padding-right: 75px;
    margin-bottom: 20px;
    position: relative;

  }

  .cont7 {
    border-radius: 10px;
    height: 140px;
    margin-left: 120px;
    margin-right: 15px;
    padding: 0px;
    padding-right: 75px;
    margin-bottom: 20px;
    position: relative;
    margin-top: 35px
  }

  .content {
    display: inline-block;
    color: #FFFFFF;
    position: absolute;
    font-family: "inter", sans-serif;
    font-size: 0.8rem;
    margin-left: 3px;

  }


  .content>h4 {
    display: block;
    margin-left: 0px;
    line-height: 12px;
    margin-top: 2px;


  }






  /* schedule */

  #SchedulePage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
  }

  .schedule-cont {
    position: absolute;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;

  }

  .schedule-head {
    margin-top: 4vh;
    margin-left: 5vw;
    font-family: Six Caps;
    font-size: 71px;
    font-weight: 400;
    letter-spacing: 0.3rem;
    color: #FFFFFF;
  }

  .scheduleCont {
    width: 50%;
    margin-left: 10vw;
    font-family: Six Caps;
    font-size: 100px;
    line-height: 10vh;
    letter-spacing: 0em;
    text-align: left;
    display: inline-block;
    margin: 100px;


  }

  .line1-schedule {
    color: #FFFFFF;
    font-weight: 100;
    position: relative;
    margin-left: -30px;
  }

  .line2-schedule {
    color: #DA453B;
    font-weight: 100;
    margin-left: -30px;
  }

  .line3-schedule {
    color: #FFFFFF;
    font-weight: 100;
    margin-left: -30px;
  }

  /* download */

  #DownloadPage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;

  }

  .schedule-cont {
    position: absolute;
    margin: 2px;
    height: 100%;
    width: 100%;

  }

  .schedule-head {
    font-size: 60px;
    margin-left: 10vw;
  }

  #ScheduleContent {}

  /* downloads */
  #DownloadPage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
  }

  .download-png {
    display: none
  }

  .download-png>img {
    width: 100%;
    height: 100%;
    margin-left: 100px;
  }

  .download-btn {
    position: absolute;
    margin-top: 83vh;
    margin-left: 35vw;
  }

  .download-content {
    position: absolute;
    width: 50%;
    height: 80%;
    margin-top: 10vh;
    margin-left: 10vw;
    line-height: 2rem;
  }

  .download-content>h1 {
    font-family: 'six caps', sans-serif;
    font-weight: 1000;
    color: #DA453B;
    letter-spacing: 0.3rem;
    font-size: 2.5rem;
    margin-bottom: 1vh;
    display: inline-block;
    margin-right: -100px;
    margin-left: 10px;
    margin-top: 69px;
  }


  .download-content>p {
    color: #FFFFFF;
    font-family: 'inter', sans-serif;
    line-height: 40px;
    margin-top: 30px;
    margin-right: -120px;
    font-size: 1.2rem;
  }

  /*Sponsors*/
  /* #SponsorsPage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
  } */

  /* FAQS */
  /* #FAQPage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
  }


} */
  .faq-head {
    font-size: 50px;
    width: 100%;
    margin-left: 7.5vw;
  }

  /* RegistrationPage */
  #RegistrationPage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
  }

  .registration-btn {
    position: absolute;
    margin-top: 80vh;
    margin-left: 37vw;
  }


  .dtext {
    text-decoration: none;
  }

  #Register {
    margin-top: 2vh;
    margin-left: 60vw;
  }

  .register-deadline {
    display: none;
  }

  .register-png>img {
    position: absolute;
    margin-left: 5vw;
    margin-top: 20vh;
    height: 500px;
    width: 400px;
  }

  /* footer */
  #Footer {
    display: flex;
    margin: 0;
    border: 0;
    height: 37vh;
    width: 100vw;
    background: #000000b8;
    color: #FFFFFF;
    font-family: 'inter', sans-serif;
  }

  .footer-cont1 {
    position: relative;
    margin-top: -49px;
    margin-left: 4vw;
    font-family: 'inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFFB2;
    text-align: center;
    line-height: 17px;

  }

  .footer-cont1>h3 {
    margin-left: 19vh;
    margin-bottom: 0;
    font-size: 2rem;
    font-family: 'six caps', sans-serif;
    text-align: justify;
  }

  .name-footer {
    color: #DA453B;
    line-height: 15px;
    margin: 15px;
  }

  .footer-cont2 {
    margin-top: 2vh;
    margin-left: 13vw;
    color: #FFFFFFB2;
    text-align: justify;
    line-height: 1px;
  }

  .footer-cont2>h3 {
    margin-top: 3.5vh;
    margin-left: 14.5vh;
    font-size: 2rem;
    font-family: 'six caps', sans-serif;
    margin-bottom: 5px;
  }

  .footer-cont1>p {
    line-height: 5px;

  }

  .footer-cont3>p {
    text-align: center;
  }

  .name-footer2 {
    color: #DA453B;
    line-height: 17px;
    margin-left: 45px;
  }

  .footer-cont3 {
    margin-top: 23.2vh;
    margin-left: 5vw;
    color: #FFFFFFB2;
    text-align: justify;
  }

  .footer-cont3>h3 {
    margin-top: -20.2vh;
    margin-left: 15vh;
    font-size: 2rem;
    font-family: 'six caps', sans-serif;
    margin-bottom: 0;
    line-height: 17px;
  }

  .name-footer3 {
    color: #DA453B;
    line-height: 17px;
    margin-left: 0px;
    line-height: 17px;
  }


  /* countdown timer  */
  .expired-notice>span {
    display: flex;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    margin-left: 120vh;

    align-items: center;
    font-weight: 700;
    font-size: 4vh;
    line-height: 25px;
    padding-left: 20px;

    border-radius: 0.25rem;
    text-decoration: none;
    color: #f10808;
    border: none;
    background-color: #000000;
    font-family: 'inter', sans-serif;
    margin-top: 270px;
    margin-bottom: 0px;
    height: 7rem;
  }

  .show-counter {
    padding: 0rem;
  }

  .show-counter .countdown-link {
    display: flex;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    margin-left: 0vh;

    align-items: center;
    font-weight: 700;
    font-size: 2vh;
    line-height: 25px;
    padding-left: 5px;
    padding-left: 2px;

    border-radius: 0.25rem;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    background-color: #000000;
    opacity: 70%;
    font-family: 'inter', sans-serif;
    margin-top: 10px;
    margin-bottom: 0px;
    height: 7rem;
  }

  .show-counter .countdown {
    line-height: 1rem;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }


  .show-counter .countdown.danger {
    color: #ff0033;
  }

  .show-counter .countdown>p {
    margin: 0;
  }

  .show-counter .countdown>span {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;

  }

  .early>p {
    width: 167px;
    margin-right: -10vh;
    font-size: 14.5px;
  }

  /* Hamburger Menu  */



  .bm-burger-button {
    position: relative;
    width: 30px;
    height: 25px;
    left: 36px;
    top: 36px;


  }


  .bm-burger-bars {
    background: #bbb6be;
    border-radius: 2px;
    transition: 0.2s;
  }


  .bm-burger-bars-hover {
    background: #59575a;
  }


  .bm-cross-button {
    height: 24px;
    width: 24px;
  }


  .bm-cross {
    background: #7b7e81;

  }


  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  .bm-menu {
    background: #23232f;
    opacity: 100%;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    border-radius: 5px;
  }

  .bm-morph-shape {
    fill: #373a47;

  }


  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }


  .bm-item {
    display: inline-block;
    margin-top: 10px;
    font-size: 50px;
  }


  .bm-overlay {
    background: rgba(245, 245, 245, 0.3);
  }

  .bm-item {
    display: block;

    color: #ffffff;
    margin-bottom: 10px;


    text-decoration: none;
    transition: color 0.2s;
    margin-left: 1vh
  }

  .bm-item:hover {
    color: #ffffff;
  }

  /* .menu-item{
  display:block;
  color: #d3ced5;
  margin-top: 100px;
} */

}

.btn {
  border: 0;
  cursor: pointer;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
}

.btn-contained {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.btn-success {
  color: #fff;
  background-color: #159c33;
}

.img-container {
  display: flex;
  justify-content: flex-start;
  padding: 16px;
  width: 200px;
  background-color: #fff;
}

.img {
  width: 100%;
}