/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* PHONE STYLE BEGINS HERE  */



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 415px),
only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 415px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 415px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 415px),
only screen and (min-resolution: 2dppx) {


  .heading-container {

    font-family: 'Six Caps', sans-serif;
    letter-spacing: 0.38rem;
    font-size: 9vw;
    margin-left: 5vw;

  }

  .page-head {
    margin-left: 4vw;
    margin-top: 2.5vh;
    font-family: Six Caps;
    font-size: 7.5vw;
    font-weight: 400;
    line-height: 8vw;
    letter-spacing: 0.3rem;
    text-align: left;
    color: #FFFFFF;
  }

  .footer-head {
    font-size: 2.09vw;
    font-family: 'six caps', sans-serif;
    font-weight: 200;
  }

  .content {
    font-family: 'inter', sans-serif;
    font-weight: 300;
    font-size: 1.1vw;
    line-height: 2rem;
    display: block;
  }



  .images {
    width: 115%;
    height: 100%;
    margin-left: 10vw;
    transform: translate(0, -10px);
  }



  /*background color of all pages but (hidden in the home page due to the image) 
  and the page section size////////////////////////////////////////////////////////////////////*/
  body {
    background-color: #000000;
    margin: 0vh;

  }

  .page {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;

  }

  .images-cont {
    margin-left: 0vh;
    height: 100%;
    width: 70%;
  }

  .img-container {

    padding: 1vw;
    width: 20vw;
    background-color: transparent;


  }

  .img {
    width: 100%;
    padding-top: 20%;
    padding-left: 10%;
  }


  /*button styles for registration button and download button ////////////////////////////////////////////////////////////////////*/
  .btn {
    border: 0;
    z-index: 10;
    cursor: pointer;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
  }


  .btn-success {
    color: #fff;
    background-color: #159c33;
  }


  /*for preventing the anchor links on bottons turnig purple ////////////////////////////////////////////////////////////////////*/
  .flink {
    text-decoration: none;
    font-family: "inter", sans-serif;
    color: #FFFFFFB2;
  }

  #color {
    color: #FFBA6D;
  }

  #color-RED {
    color: #FF0000;
  }

  /* Hamburger Menu  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  #root {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }


  .img-container {
    display: flex;
    justify-content: flex-start;
    padding: 1vw;
    width: 25vh;
    background-color: transparent;
    position: relative;
  }

  .img {
    width: 100%;
  }





  body {
    background-color: #000000;
    margin: 0;

  }

  /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





  #HomePage {
    background-image: url(../src/image/Web\ capture_30-11-2022_123021_approach0\ 3bg-vitlaa.jpg);
    /* Path: icnda\src\image\Web capture_30-11-2022_123021_approach0 2bg-vitlaa.svg */
    background-position: fixed;
    /* Center the image */
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-y: center;
    background-size: 100%;
    background-attachment: fixed;
    /* Fixed position */
    background-position-x: center;
    border-color: #000000;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 35% 15% 20% 10%;
  }


  /*navbar*/
  nav {
    display: none;
  }



  /*heading*/


  .first-line {
    color: #FFFFFF;
    font-weight: 20;
    margin-top: 0px;
    margin-bottom: 8px;
  }

  .second-line {
    color: #FFBA6D;
    font-weight: 20;
    margin-top: 10px;
    margin-bottom: 8px;
  }

  .third-line {
    color: #FFFFFF;
    font-weight: 20;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .fourth-line {
    font-family: "six caps", sans-serif;
    color: #ffba6d;
    font-size: 5vw;
    letter-spacing: 2px;
    font-weight: 500;
    background-color: transparent;
    border-color: #ffba6d;
    border-radius: 5px;
    border-width: 2px;
    cursor: pointer;
  }


  /* subhead */
  .sub-head {
    font-family: "inter", sans-serif;
    color: #FFFFFFB2;
    text-align: center;
  }



  .sub-l3 {
    margin-top: 45px;
    font-size: 4vw;
    font-weight: 750;
  }

  .sub-l4 {

    font-size: 3vw;
    font-weight: 300;
  }

  /* countdown timer  */
  .earlybird-coontainer {
    grid-row: 5;

  }

  .expired-notice>span {
    display: flex;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    margin-left: 0vh;

    align-items: right;
    font-weight: 700;
    font-size: 4vw;
    line-height: 25px;
    padding-left: 22vw;


    border-radius: 0.25rem;
    text-decoration: none;
    color: #ff0000;
    border: none;
    background-color: #000000;
    opacity: 70%;
    font-family: 'inter', sans-serif;

    height: 7rem;
    text-transform: capitalize;

  }

  .show-counter {
    padding: 0rem;
  }

  .show-counter .countdown-link {
    display: flex;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    margin-left: 0vh;
    align-items: center;

    align-items: right;
    font-weight: 700;
    font-size: 4vw;
    line-height: 25px;

    border-radius: 0.25rem;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    background-color: #000000;
    opacity: 70%;
    font-family: 'inter', sans-serif;

    height: 7rem;
    width: 100vw;
  }

  .show-counter .countdown {
    line-height: 1rem;
    padding-right: 5px;
    padding-left: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }


  .show-counter .countdown.danger {

    color: #ff0033;

  }

  .show-counter .countdown>p {
    margin: 0;
  }

  .show-counter .countdown>span {
    text-transform: uppercase;
    font-size: 0.6rem;
    line-height: 1rem;

  }


  .early>p {
    width: 14vh;
    margin-left: 2.7vw;
    font-size: 4vw;
  }


  /* footerHome */
  .footerHome {
    position: relative;
    display: inline-flex;
    margin-top: 2vw;
    margin-left: 12vw;
    width: 80%;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    color: #FFFFFF;
  }

  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 About /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

  #AboutPage {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    background: #000000;
  }


  #color {
    color: #FFBA6D;
  }

  .heading-container-about {
    grid-row: 2;
    grid-column: 1;
  }

  /* headingAbout */
  .headingAbout {
    width: 90%;
    margin-left: 2vw;
    font-family: Six Caps;
    line-height: 22vw;
    letter-spacing: 0.1rem;
    text-align: left;


  }

  .line1-about {
    color: #FFFFFF;
    font-weight: 100;
    margin-left: 4vw;
    font-size: 15vw;
    position: relative;
    margin-bottom: 1px;
  }

  .line2-about {
    color: #DA453B;
    font-weight: 100;
    margin-left: 4vw;
    font-size: 15vw;

    position: relative;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .line3-about {
    color: #FFFFFF;
    font-weight: 100;
    margin-left: 4vw;
    font-size: 15vw;
    margin-top: 1px;
    margin-bottom: 1px;


  }

  /* contentAbout */
  .content-container {
    grid-row: 2;
    grid-column: 2;
  }

  .contentAbout {
    position: relative;
    width: 50%;
    height: 80%;
    font-family: 'inter', sans-serif;
    font-weight: 300;
    font-size: 3vw;
    line-height: 3vh;
    width: 95%;
  }

  .about-para1 {
    color: #FFFFFF;
  }

  .about-para2 {
    color: #DA453B;
  }

  /*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


  /* Speakers /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


  #SpeakersPage {
    background-image: url(../src/image/final_63888cedf225560025c4a748_237242\ 1speakers-bg.png);
    height: 100vh;
    width: 100vw;
    background: #000000;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 10% repeat(4, 22.5%);

  }

  .cont1 {
    grid-column: 1;
    grid-row: 2;
  }

  .cont2 {
    grid-column: 3;
    grid-row: 2;
  }

  .cont3 {
    grid-column: 1;
    grid-row: 3;
  }

  .cont4 {
    grid-column: 3;
    grid-row: 3;
  }

  .cont5 {
    grid-column: 1;
    grid-row: 4;
  }

  .cont6 {
    grid-column: 3;
    grid-row: 4;
  }

  .cont7 {
    grid-column: 1;
    grid-row: 5;
  }

  .heading-container-speaker {
    grid-row: 1;
    grid-column: 1 / span 4;
  }

  .prof1 {
    grid-column: 2;
    grid-row: 2;
  }

  .prof2 {
    grid-column: 4;
    grid-row: 2;
  }

  .prof3 {
    grid-column: 2;
    grid-row: 3;
  }

  .speakers-event {
    height: 15%;
    width: 100%;
    display: inline-flex;
  }

  .pro4 {
    grid-column: 4;
    grid-row: 3;
  }

  .prof5 {
    grid-column: 2;
    grid-row: 4;
  }

  .prof6 {
    grid-column: 4;
    grid-row: 4;
  }

  .prof7 {
    grid-column: 3;
    grid-row: 5;
  }


  /* speakercards */


  .img-speaker {
    border-radius: 10px;
    height: 32vw;

  }


  .cont1,
  .cont3,
  .cont5 {

    border-radius: 10px;
    height: 32vw;
    margin-left: 2.5vw;
    user-select: none;
  }



  .cont2,
  .cont4,
  .cont6 {

    border-radius: 10px;
    height: 32vw;
    user-select: none;
  }


  .cont7 {
    border-radius: 10px;
    height: 32vw;
    margin-left: 27vw;
    user-select: none;
  }

  .content {
    color: #FFFFFF;
    font-family: "inter", sans-serif;
    font-size: 2.8vw;
    height: 80%;
    width: 95%;

  }


  .content>h4 {

    margin-left: 2.5vw;
    margin-top: 0px;
    font-weight: 300;
    color: #ffb73c;
    font-size: 3.1vw;
    line-height: 20px;


  }

  .content>p {
    height: 50%;
    width: 90%;
    margin-left: 2.5vw;
    margin-top: -15px;
    line-height: 20px;
  }









  /* schedule */

  #SchedulePage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
  }

  .mobimagenone {
    display: none;
  }

  .schedule-container {
    grid-row: 1;
  }

  .cont-image-container {
    grid-row: 2;
  }


  .schedule-cont {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;

  }

  .schedule-head {
    margin-top: 4vh;
    font-size: 15vw;
    margin-left: 4vw;
    font-family: Six Caps;
    font-weight: 400;
    letter-spacing: 0.3rem;
    color: #FFFFFF;
  }

  .scheduleCont {
    width: 80%;
    height: 100%;
    transform: translate(0, 5%);
    margin-left: -22px;
  }

  .schedule1 {
    display: none;
  }

  .schedule2 {
    display: none;
  }

  .schedule3 {
    z-index: 5;
    height: 70%;

  }


  /* download */

  #DownloadPage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;

  }

  /* downloads */
  #DownloadPage {
    height: 100vh;
    width: 100vw;
    background: #000000;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 10% 80% 10%;
  }

  .heading-container-download {
    width: 70%;
  }



  .button-container {
    grid-row: 3;
    text-align: center;
  }

  .download-content {

    padding-left: 10%;

  }

  .download-content>h1 {
    font-family: 'six caps', sans-serif;
    font-weight: 400;
    color: #DA453B;
    letter-spacing: 0.3rem;
    font-size: 10vw;
    margin-bottom: 2vw;
    display: inline-block;

  }


  .download-content>ol>li {
    color: #FFFFFF;
    font-family: 'inter', sans-serif;
    line-height: 5vh;
    font-size: 4.5vw;
    width: 90%;
  }



  /* RegistrationPage */
  #RegistrationPage {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 10% 80% 10%;
  }


  .button-container-registration {
    grid-row: 3;
    text-align: center;
  }

  #Register {
    margin-top: 2vh;
  }


  .dtext {
    text-decoration: none;
  }


  .register-deadline {
    display: none;
  }

  .register-png>img {
    grid-row: 2;
  }

  /* footer */
  #Footer {

    display: grid;
    margin: 0;
    border: 0;
    height: 37vh;
    width: 100vw;
    background: #000000b8;
    color: #FFFFFF;
    font-family: 'inter', sans-serif;

  }

  .foot-container {
    display: grid;
    grid-template-rows: repeat(3, 33.33%);

  }

  .heading-footer>h3 {
    font-size: 4vh;
    font-family: 'six caps', sans-serif;
    font-weight: 100;
    margin-bottom: 0;
  }


  .footer-cont1 {
    font-family: 'inter', sans-serif;
    font-size: 1.5vh;
    font-weight: 400;
    color: #FFFFFFB2;
    text-align: center;
    line-height: 17px;

  }


  .name-footer {
    color: #DA453B;
    line-height: 15px;
    font-size: 1.5vh;
  }

  .footer-cont2 {
    color: #FFFFFFB2;
    text-align: center;
  }


  .name-footer2 {
    color: #DA453B;
    margin-top: 2.5vh;
    font-size: 1.5vh
  }

  .footer-cont3 {
    color: #FFFFFFB2;
    font-size: 1.5vh;
    text-align: center;
    transform: translate(0, -50%);
  }


  .name-footer3 {
    color: #DA453B;
    line-height: 17px;
    font-size: 1.5vh
  }

  .content-footer {
    font-family: 'inter', sans-serif;
  }

  .copyrights>p {
    transform: translate(0, 300%);
    font-family: 'inter', sans-serif;
    font-size: 2.2vh;

  }

  /*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Account PAGE extension of the registration page  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  #AccountInfo {
    height: 40%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 30% 10% 50%;

  }

  .feedetail>h1 {
    margin-top: 0;
  }

  .feedetail-content>ol {
    list-style-type: none;
  }

  .feedetail-content {
    color: #fff;
    font-family: "inter", sans-serif;
    font-size: 1.5vh;
    margin-left: 1vw;
    line-height: 3vh;

  }

  /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


  /* TEAMS PAGE */
  #TeamPage {
    display: grid;
    padding: 15px;

  }

  .heading-container-team {
    margin-top: 20px;
  }

  .team-heading {
    color: #DA453B;
    font-family: 'six caps', sans-serif;
    letter-spacing: 0.15vw;
    font-size: 5vh;
    font-weight: 100;
    text-align: center;

  }

  .team-content {
    color: #ffffff;
    font-size: 2.5vh;
    font-family: 'barlow', sans-serif;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 25px;
  }

  .team-content>span {
    font-size: 3vh;
    font-family: 'barlow', sans-serif;
    text-align: center;
  }

}



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/